/*  fuente https://www.w3schools.com/html/html_layout.asp */
* {
    box-sizing: border-box;
    /* Los pixeles incluíran el borde o padding que tenga la caja */
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo de la cabecera*/
header {
    background-color:#777;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    color: white;
}

/* Crea dos columnas / cajas que flotan una junto a la otra */
nav {
    float: left;
    width: 30%;
    height: 300px;
    /* Sólo de demostración */
    background: #ccc;
    padding: 20px;
}

/* Estilo de la lista dentro del menú */
nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px;
    /* Sólo de demostración */
}

/* Clear floats después de las columnas */
section:after {
    content: "";
    display: table;
    clear: both;
}

/* Estilo del pie */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

.copyright {
    text-align: center;
    font-size: 80%;
    margin: 1em 0;
}

/* Diseño Responsive: En pantallas pequeñas hace que las dos columnas / cajas se apilen una sobre la otra en lugar de una al lado de la otra */
@media (max-width: 600px) {

    nav,
    article {
        width: 80%;
        height: auto;
    }
}